<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Test</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
        .small-logo {
            width: 4cm;
            height: 4cm;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Spring Boot Test Page</h1>
    <img src="/logo.jpg" alt="Logo" class="small-logo"/>
    <form th:action="@{/app_title}" th:object="${newString}" method="post">
        <input type="text" th:field="*{text}" placeholder="Enter data"/>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
    <ul>
        <li th:each="string : ${savedStrings}" th:text="${string.text}"></li>
    </ul>
</div>
</body>
</html>
